@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: .3s all;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-property: none;
}

path {
  outline: none;
}

.ag-theme-quartz {
  --ag-foreground-color: #282D32 !important;
  --ag-background-color: rgb(255, 255, 255) !important;
  --ag-header-background-color: rgb(255, 255, 255) !important;
  --ag-row-hover-color: rgba(139, 126, 246, 0.3) !important;
}

.ag-paging-description,
.ag-paging-row-summary-panel {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .ag-paging-panel {
    flex-direction: column !important;
    height: fit-content !important;
    gap: 8px !important;
    align-items: flex-start !important;
    padding: 12px !important;
  }

  .ag-paging-page-size,
  .ag-paging-row-summary-panel,
  .ag-paging-page-summary-panel {
    margin: 0 !important;
  }
}